<div class="flex justify-between h-screen px-44">
  <div class="left flex flex-col justify-between h-3/5 w-3/5 my-auto">
    <div class="up">
      <span class="font-medium border-b-4 pb-4 flex text-4xl"
        >LOGIN TO YOUR ACCOUNT</span
      >
      <p class="text-lg my-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repellendus
        sunt repellat explicabo facere! Ab dignissimos corrupti, met
        reprehenderit ducimus, tempore libero porro repudiandae aliquid et.
        Veniam at s
      </p>
      <p class="text-lg my-4">
        m dolor sit amet consectetur adipisicing elit. Rem repellendus sunt
        repellat explicabo facere! Ab dignissimos corrupti, inventore illo quia
        magnam sed dolorum amet repre
      </p>
      <p class="text-lg my-4">
        xplicabo facerehenderit ducimus, tempore libero porro repudiandae
        aliquid et. Veniam at s
      </p>
    </div>
    <div class="down">
      <span class="text-xl">HAVEN'T ANY ACCOUNT ?</span>
      <a class="text-slate-600 text-xl font-medium" routerLink="/signup">
        SIGNUP
      </a>
    </div>
  </div>
  <div
    class="right justify-center my-auto flex flex-col p-12 bg-white drop-shadow-xl rounded-lg py-40"
  >
    <div class="">
      <form
        (ngSubmit)="create_account()"
        formGroup="signup"
        class="flex flex-col items-center"
      >
        <mat-form-field class="w-80" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Enter your email"
            formControlName="email"
            value=""
          />
        </mat-form-field>
        <mat-form-field class="w-80" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password must contain 8 character"
            formControlName="password"
            value=""
          />
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="accent"
          class="w-32 h-12"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
