<div class="flex justify-center items-center h-screen">
  <div
    class="flex items-center justify-center flex-col border-r border-gray-dark/[0.5] px-16 h-full"
  >
    <div class="flex items-center justify-center flex-col">
      <img
        class="w-36 h-36 rounded-full"
        src="assets/images/user/Anime-Wallpaper-Desktop-Background-50.jpg"
        alt="no_image"
      />
      <div class="flex drop-shadow-xl justify-between w-[15rem] mt-4">
        <button *ngFor="let i of socials">
          <div class="bg-black w-8 h-8 rounded-full"></div>
          <!-- <img
              class="rounded-full"
              src=""
              alt="no_image"
            /> -->
        </button>
      </div>
    </div>
    <div class="mt-4 flex flex-col items-center">
      <span class="text-2xl leading-6 uppercase font-bold">{{ name }}</span>
      <code class="text-lg leading-6">{{ phone_no }}</code>
      <code class="text-md text-gray-dark leading-6">{{ email }}</code>
      <p
        class="bg-gray-light/[0.7] p-4 rounded-lg drop-shadow-xl text-lg leading-5 text-justify capitalize w-[25rem]"
      >
        {{ description }}
      </p>
    </div>
  </div>
  <div class=""></div>
</div>
