<div class="w-[55rem] h-[40rem] bg-white">
  <div class="p-4 overflow-auto grid grid-cols-3 gap-4">
    <div *ngFor="let i of follow" class="group w-[15rem] text-base">
      <a
        routerLink="/project"
        class="py-4 bg-white drop-shadow-xl flex items-center justify-between px-4"
      >
        <img
          class="w-8 h-8 rounded-full"
          src="http://127.0.0.1:8000/upload/{{ i.Avatar }}"
          alt=""
        />
        <p>{{ i.Name }}</p>
        <span class="font-base text-gray/[0.5] group-hover:text-gray-dark"
          >View</span
        >
      </a>
    </div>
  </div>
</div>
